.features{

  &-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content{
    &-img2{
      padding: 150px 150px;
    }
    &-link {
      font-family: DM Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 80px;
      letter-spacing: -0.531474px;
      color: #5454D4;
      margin: 0 0 40px;
    }
    &-title{
      font-family: DM Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 100px;
      letter-spacing: -1.56316px;
      color: #19191B;
    }
    &-text{
      font-family: Mulish, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 30px;
      letter-spacing: -0.625263px;
      color: #696871;
      padding: 15px 0 30px
    }
    &-btn{
      font-family: DM Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.531474px;
      color: #5454D4;
    }
  }
}