.header {
  &-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }


  &__nav {
    display: flex;
    width: 327px;
    justify-content: space-between;
    margin-top: 10px;

    &-menu {
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.468947px;
      color: $gray;

      &:hover {
        color: #19191B;
        border-bottom: solid 2px #5454D4;
      }
    }
  }

  &-btn {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    padding: 13px 38px;
    background: $orange;
    border-radius: 10px;
    border: 1px solid $orange;
    transition: .4s;
    cursor: pointer;

    &:hover {
      color: $orange;
      background-color: #FFFFFF;
    }
  }

  .mobile-btn {
    display: none;
  }

  .mobile-btn span {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
  }

  .mobile-btn span::before,
  .mobile-btn span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: absolute;
  }

  .mobile-btn span::before {
    top: -10px;
  }

  .mobile-btn span::after {
    top: 10px;
  }
}