@media screen and (max-width: 2560px) {

  .container {
    max-width: 900px;
  }
  .row {
    width: 900px;
  }

  .col-6 {
    width: 38%;
  }

  .col-4 {
    width: 33.3%;
    padding: 0 15px;
  }

  .header {
    &-container {
      padding: 0 20px 0;
    }
  }

  .hero {
    &__content {
      &-title {
        font-size: 60px;
        line-height: 60px;
        padding: 220px 0 35px;
      }

      &-text {
        width: 370px;
        font-size: 18px;
        line-height: 25px;
      }

      &-btn {
        font-size: 13px;
        line-height: 13px;
        margin-top: 30px;
      }

      &-img {
        width: 50px;
        height: 50px;
        margin-top: 27px;
        margin-left: 20px;
      }

      &-img1 {
        height: 500px;
        margin-top: 120px;
        margin-left: 50px
      }
    }
  }

  .overview {
    &__nav {
      width: 100%;
    }

    &__content {
      margin-left: 150px;

      &-img {
        margin-left: -125px;
      }

      &-text {
        width: 360px;
        font-size: 23px;
        line-height: 25px;
      }
    }

  }

  .features {
    &__content {
      margin-top: 340px;

      &-title {
        font-size: 43px;
        line-height: 60px;
      }

      &-link {
        font-size: 17px;
        line-height: 25px;
      }

      &-img2 {
        padding: 160px 80px;
      }
    }
  }

  .technology {

    &__content {
      &-img {
        margin-left: 75px;
      }
    }
  }

  .plan {
    &__content {
      &-title {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  .sub {
    &__content {
      &-btn {
        width: 235px;
      }
    }
  }
}

@media screen and (max-width: 900px) {

  .container {
    max-width: 750px;
  }
  .row {
    width: 750px;
  }

  .header {
    &-container {
      padding: 0 10px 0;
    }
  }

  .hero {
    &__content {
      &-title {
        font-size: 45px;
        line-height: 45px;
        padding: 220px 0 20px;
      }

      &-text {
        width: 260px;
        font-size: 14px;
        line-height: 20px;
      }

      &-btn {
        font-size: 10px;
        line-height: 5px;
        margin-top: 20px;
      }

      &-img {
        width: 40px;
        height: 40px;
        margin-top: 20px;
        margin-left: 15px;
      }

      &-img1 {
        height: 400px;
        margin-top: 120px;
        margin-left: 30px;
      }
    }
  }

  .overview {
    &__nav {
      width: 100%;
    }

    &__content {
      &-img {
        width: 360px;
        height: 470px;
      }

      &-title {
        font-size: 40px;
        line-height: 45px;
        margin: 120px 0 30px;
      }

      &-text {
        width: 300px;
        font-size: 20px;
        line-height: 25px;
      }

      &-link {
        font-size: 15px;
        line-height: 45px;
      }
    }
  }

  .features {
    &__content {
      margin-top: 300px;

      &-title {
        font-size: 35px;
        line-height: 40px;
      }

      &-text {
        width: 330px;
        font-size: 25px;
        line-height: 30px;
      }

      &-link {
        font-size: 16px;
        line-height: 45px;
      }

      &-img2 {
        padding: 140px 0 100px;
        margin-left: 100px;
      }
    }
  }

  .technology {
    &__content {
      &-img {
        margin-left: 40px;
      }
    }
  }

  .plan {
    &__content {
      &-title {
        font-size: 35px;
        line-height: 40px;
      }

    }

    .data {
      width: 299px;
      height: 65px;
      margin-left: 70px;
      margin-top: 35px;
    }
  }

  .sub {
    &__content {
      &-btn {
        width: 205px;
      }
    }


  }
}

@media screen and (max-width: 750px) {

  .container {
    max-width: 510px;
  }
  .row {
    width: 510px;
  }

  .col-6 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .header {
    &-btn {
      font-size: 11px;
      line-height: 12px;
    }

    &__nav {
      &-menu {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }

  .hero {
    &__content {
      &-title {
        font-size: 30px;
        line-height: 35px;
        padding: 80px 0 20px;
      }

      &-text {
        width: 340px;
        font-size: 17px;
        line-height: 20px;
      }

      &-btn {
        font-size: 10px;
        line-height: 1;
        margin-top: 20px;
      }

      &-img {
        width: 45px;
        height: 45px;
        margin-top: 18px;
        margin-left: 15px
      }

      &-img1 {
        height: 350px;
        margin-top: 120px;
        margin-left: 50px;
      }
    }
  }

  .overview {
    &__nav {
      width: 100%;

      &-menu {
        width: 80px;
      }
    }

    &__content {
      margin-left: 0;

      &-img {
        width: 350px;
        height: 490px;
        margin-left: 50px;
      }

      &-title {
        font-size: 50px;
        line-height: 50px;
        margin: 90px 0 40px;
      }

      &-text {
        width: 390px;
      }

      &-link {
        font-size: 15px;
        line-height: 30px;
      }
    }
  }

  .features {
    &__content {
      padding: 150px 0 0;

      &-title {
        font-size: 45px;
        line-height: 80px
      }

      &-link {
        font-size: 15px;
        line-height: 45px
      }

      &-img2 {
        margin-left: 50px;
      }
    }
  }

  .technology {
    &__content {
      &-img {
        margin-left: 120px;
      }
    }
  }

  .plan {
    .data {
      margin-left: 85px;
    }

    &__content {
      &-title {
        font-size: 31px;
        line-height: 20px;
      }
    }
  }

  .sub {
    &-container {
      padding: 0 40px 50px;
    }

    &__content {
      row-gap: 30px;
    }
  }
}

@media screen and (max-width: 510px) {
  .container {
    max-width: 425px;
  }

  .row {
    width: 425px;
  }

  .col-4 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .header {
    &-btn {

    }

    &__nav {
      &-menu {
        font-size: 10px;
        line-height: 60px;
      }
    }

    &__content {
      &-img {
        width: 120px;
        height: 40px;
      }

    }


    .mobile-btn {
      background-color: bisque;
      width: 55px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .show-mobile-btn span {
      background-color: transparent;
      left: 36px;
    }

    .show-mobile-btn span::before,
    .show-mobile-btn span::after {
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .show-mobile-btn span::before {
      transform: rotate(45deg);
    }

    .show-mobile-btn span::after {
      transform: rotate(-45deg);
    }

    .header__nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      background-color: rgba(237, 174, 96, 0.75);
      height: 100%;
      width: 100%;
      top: 0;
      right: -100%;
      transition: .7s;
    }


    .show-menu {
      right: 0;
      margin-bottom: 20px;
      border: #FF7143;
      padding: 15px 0;
      text-align: center;
    }
  }

}

@media screen and (max-width: 420px) {
  .container {
    max-width: 370px;
  }

  .row {
    width: 370px;
  }

  .header {
    &__nav {
      &-menu {
        font-size: 7px;
        line-height: 25px;
      }
    }
  }

  .hero {
    &__content {
      &-title {
        font-size: 21px;
      }

      &-text {
        width: 300px;
        font-size: 15px;
        line-height: 20px;
      }

      &-img1 {
        height: 340px;
        margin-top: 110px;
        margin-left: 15px;
      }
    }
  }

  .overview {
    &__nav {
      width: 100%;

      &-menu {
        width: 55px;
      }
    }

    &__content {
      &-img {
        width: 290px;
        height: 400px;
        margin-left: 25px;
      }

      &-title {
        font-size: 40px;
        line-height: 0;
        margin: 90px 0 40px;
      }

      &-text {
        width: 300px;
      }

      &-link {
        font-size: 11px;
      }
    }
  }

  .features {
    &__content {
      &-title {
        font-size: 35px;
        line-height: 40px;
      }

      &-text {
        width: 270px;
        font-size: 20px;
        line-height: 25px;
      }

      &-link {
        font-size: 11px;
      }

      &-img2 {
        width: 300px;
        height: 610px;
        margin-left: 10px;
      }
    }
  }

  .technology {
    &__content {
      &-img {
        margin-left: 85px;
      }
    }
  }

  .plan {
    .data {
      margin-left: 23px;
    }
  }
}

@media screen and (max-width: 370px) {
  .container {
    max-width: 320px;
  }

  .row {
    width: 320px;
  }

  .header {
    &-btn {
      width: 115px;
    }
  }

  .hero {
    &__content {

      &-title {
        font-size: 17px;
      }

      &-text {
        width: 300px;
        font-size: 13px;
        line-height: 17px;
      }

      &-img1 {
        height: 285px;
        margin-top: 50px;
        margin-left: 15px;
      }
    }
  }

  .overview {
    &__nav {
      &-menu {
        width: 53px;
      }
    }

    &__content {
      &-img {
        width: 250px;
        height: 350px;
        margin-left: 20px;
      }

      &-title {
        font-size: 33px;
      }

      &-text {
        width: 225px;
      }
    }
  }

  .features {
    &__content {
      &-title {
        font-size: 33px;
        line-height: 40px;
      }

      &-text {
        width: 235px;
        font-size: 20px;
        line-height: 25px;
      }

      &-img2 {
        width: 240px;
        height: 610px;
        margin-left: 20px;
      }
    }
  }

  .technology {
    &__content {
      &-title {
        margin-left: -10px;
      }

      &-img {
        margin-left: 60px;
      }

      &-text {
        width: 180px;
        margin-left: 50px;
      }
    }
  }

  .plan {
    &__content {
      &-title {
        font-size: 31px;
        line-height: 40px;
      }
    }

    .data {
      margin-left: -4px;
    }
  }

  .sub {

  }
}